
.card-header{
  height: 109px;
}

a.btn.btn-primary {
  color: #ffffff;
}

.card p{
  padding: 15px;
  margin: 0;
}

.card .date{
  color: #a59e9e;
  padding-bottom: 0;
}

.card-header{
  display: table;
}

.card-header h5{
  display: table-cell;
  vertical-align: middle;
}

.comments{
  color: #ffffff;
  background-color: #004f98;
  border-color: #004f98;
}

.link{
  color: #ffffff;
  background: #29afe6;
  border-color: #28aee6;
}
