
<div class="row" *ngIf="isLoading">
  <div class="mx-auto mt-2">
    <i class="fa fa-circle-o-notch fa-spin fa-4x fa-fw"></i>
  </div>
</div>

<!-- display all News  -->
<div class="row mt-5">
<div *ngFor="let item of news.items; index as i" class="col-md-6 my-3">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title"> <span class="badge badge-pill badge-primary mr-2">{{i + 1}} </span>{{ item.title }}</h5>
    </div>
    <p>{{ item.content | slice:0:100 }} ...</p>
    <p class="date">{{item.pubDate}}</p>
    <hr>
    <div class="card-body">
      <div class="float-left">
        <button class="btn btn-primary mr-2 mb-2" data-toggle="modal" data-target=".my-modal" (click)="readMore(item)"> <i class="fa fa-plus-circle" aria-hidden="true"></i> Read more</button>
        <a href="{{ item.comments }}" target="_blanck" class="btn comments mr-2  mb-2"><i class="fa fa-comments" aria-hidden="true"></i> comments</a>
        <a href="{{ item.link }}" target="_blanck" class="btn link text-right  mb-2"><i class="fa fa-link" aria-hidden="true"></i> link </a>
      </div>
    </div>
  </div>
</div>
</div>

<!-- show the current content after click on read more  -->
<div class="modal fade my-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title h4" id="myLargeModalLabel">{{currentItem.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
          {{currentItem.contentSnippet}}
      </div>
  </div>
</div>
</div>
